.main_text {
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.subtext {
  display: flex;
  justify-content: center;
  align-items: center;
}
